<head>
  <meta charset="utf-8" />
  <meta name=viewport content="width=device-width, initial-scale=1" />

  {%- if page.tags -%}
    <meta name="keywords" content='{{ page.tags | join: "," }}' />
  {%- elsif page.url contains site.tag_page_dir -%}
    <meta name="robots" content="noindex">
  {%- else -%}
    <meta name="keywords" content='{{ site.keywords | split: " " | join: "," }}' />
  {%- endif -%}

  <meta name="author" content="{{ site.author}}" />
  <meta name="copyright" content="{{ site.copyright }}" />
  <meta name="robot" content="{{ site.robot }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="{{ site.description | strip_newlines}}" />

  {%- if page.title -%}
    <title>{{ page.title }} - {{ site.title}}</title>
  {%- else -%}
    <title>{{ site.title }}</title>
  {%- endif -%}

  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | absolute_url }}" />
  <link rel="icon" href="{{ site.favicon | absolute_url}}" />

  <link rel="stylesheet" href="{{ 'assets/css/main.css' | absolute_url }}" />
  <link rel="stylesheet" href="{{ 'assets/fonts/fontawesomev5.0.2.css' | absolute_url }}" />

  {% seo %}

</head>