<!DOCTYPE html>
<html dir="rtl" lang="fa">
  
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main>
      <div class="wrapper">
        {{- content -}}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
    {% if site.google_analytics_id %} {% include analyticstracking.html %} {% endif %}
  </body>
</html>