---
layout: default
---
<h1 class="page-heading">❖ &nbsp; همه‌ی نوشته‌ها</h1>
<ul class="post-list-mini">
  {% for post in site.posts %}
    <li class="post-list-item">
      <span class="list-meta-col">
        {{ post.date | jdate: "%d %b %Y" | habify }}
      </span>
      <span class="list-line">
        <a href="{{ post.url  | absolute_url }}">{{ post.title }}</a>
      </span>
    </li>
  {% endfor %}
</ul>
